.dashboard {
  width: 100%;
}

.dashboard-container {
  width: 95%;
  max-width: 1700px;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  gap: 2rem;
}
.dashboard-top-cards,
.dashboard-mid-cards {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard-top-card,
.dashboard-mid-card {
  width: 450px;
  height: 200px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(24, 94, 59, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.dashboard-mid-card {
  height: 140px;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  background: #419e71;
  color: white;
  transition: all 0.3s ease-in-out;
}
.dashboard-mid-card:hover {
  background: #165e3b;
  transform: scale(1.02);
}

.card-mid-left {
  height: 50px;
  background: #f1f4ea;
  width: 80%;
  margin-left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.card-mid-left p {
  font-size: clamp(1.125rem, 1.0568rem + 0.5455vw, 1.5rem);
  color: #165e3b;
  font-weight: 600;
}

.card-text {
  font-size: clamp(1.125rem, 1.0568rem + 0.5455vw, 1.5rem);
  color: #165e3b;
  font-family: "Goldman", cursive;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 50px solid #f1f4ea;
  margin-left: -1rem;
}
.mid-title {
  font-weight: 600;
  font-size: clamp(1.0625rem, 1.0057rem + 0.4545vw, 1.375rem);
  color: #fff;
  font-family: "Goldman", cursive;
}
.mid-text p {
  color: #fff;
}
.referral-title {
  color: #165e3b;
  font-weight: 600;
  font-size: 20px;
}
.referral-links {
  width: 100%;
}
.referral-links input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 0.2px solid #165e3b;
  outline: 0.5px solid #5ba601;
}

.wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
