.contact {
  width: 100%;
  padding: 1rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../../assets/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.contact-container {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-text h2 {
  color: #5ba601;
}
.contact-text p {
  color: white;
}
.contact-form {
  border: 1px solid #f2f2f2;
  width: 70%;
  min-width: fit-content;
  height: 60px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  background: white;
  margin-top: 2rem;
}
.contact-email {
  height: 100%;
  flex: 1;
  padding: 1rem;
  border-radius: 80px;
  background: none;
  border: none;
  outline: none;
}
.contact-btn {
  height: 100%;
  padding: 0.5rem 4rem;
  border-radius: 80px;
  border: none;
  color: #fff;
  background: #5ba601;
  cursor: pointer;
}
.contact-illus {
  width: 40%;
}
.contact-img {
  width: 100%;
}
#crypto-widget-CoinList {
  /* background: #000; */
  border: 1px solid black;
  height: 500px;
}

@media screen and (max-width: 750px) {
  .contact-container {
    flex-direction: column;
    /* align-items: center; */
  }
  .contact-illus,
  .contact-text {
    width: 100%;
  }
  .contact-btn {
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-email {
    flex: 0.6;
  }
  .contact-btn {
    flex: 0.4;
    padding: 0.5rem 1rem;
  }
  .contact-form {
    height: 50px;
  }
}
