.carousel-item {
  height: 75vh;
  object-fit: cover;
  background: black;
}

.carousel-caption {
  bottom: unset;
  top: 13rem;
}
.hero-title {
  text-align: center;
  font-size: clamp(1.875rem, -0.625rem + 8vw, 3.875rem);
  font-family: "Lato";
  font-weight: 600;
  /* color: #165e3b; */
  color: white;
}
.hero-description {
  text-align: center;
  color: white;
  font-family: "Lato";
  font-size: clamp(0.9375rem, 0.2344rem + 2.25vw, 1.5rem);
}
.caro-img {
  object-fit: cover;
  object-position: top;
}
.hero-btn {
  padding: 0.8rem 2.5rem;
  border-radius: 25px;
  /* background: #0000ff; */
  background: #5ba601;
  color: white;
  border: none;
  font-family: "Lato";
  font-size: 17px;
  cursor: pointer;
  margin-top: 1.2rem;
}

.hero-color {
  /* color: #0000ff; */
  color: #5ba601;
  font-family: "Goldman", cursive;
}

@media screen and (max-width: 850px) {
  .carousel-item {
    /* height: 100vh; */
  }
  .caro-img {
    height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  .carousel-caption {
    bottom: unset;
    top: 12rem;
  }
}
