.verifyEmail {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.login-header {
  margin-bottom: 2rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-title {
  font-family: "Goldman", cursive;
  color: #165e3b;
  font-weight: 600;
  font-size: clamp(1.25rem, 1.011rem + 0.4118vw, 1.5rem);
}
.form_input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_input input {
  width: 100%;
  /* max-width: 464px; */
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid #e2e8f0;
  padding: 0.7rem;
}
.forgot-btn {
  width: 100%;
}
.forgot-btn button {
  float: right;
  border: none;
  background: none;
}
.forgot-btn button:hover {
  color: #165e3b;
}
.login-btn button {
  margin-top: 1rem;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  color: white;
  background: #5ba601;
}
.login-form p {
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 0.4rem; */
  margin-bottom: 2rem;
}
.register a {
  /* font-style: italic; */
  text-decoration: none;
  color: #165e3b;
}
