.reasons {
  width: 100%;
  padding: 1rem 2rem;
  min-height: 650px;
  background: #f1f4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.reasons-header {
  text-align: center;
}
.reasons-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.reasons-card {
  width: 300px;
  height: 250px;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.reason-text {
  text-align: center;
}
.rs-title {
  font-size: clamp(1.125rem, 1.0809rem + 0.3529vw, 1.5rem);
  font-weight: 600;
  font-family: "Lato";
  color: #0000FF;
}
.rs-desc {
  font-size: clamp(0.8125rem, 0.7978rem + 0.1176vw, 0.9375rem);
  font-weight: 200;
  font-family: "Lato";
  color: #222;
}
.title{
  font-family: "Lato";
}
